include mixins/level
include mixins/levelOverview
include mixins/levelProgress
include mixins/stream

- var extendedHeader = false
- var extendedHeaderBackground = null
block settings

doctype html
html
	head
		link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Roboto:400,300,500|Hind+Vadodara:300,400,500&subset=all', rel='stylesheet', type='text/css')
		link(href='/assets/global/plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='/css/mikuia.css', rel='stylesheet', type='text/css')
		link(href='/css/new.css', rel='stylesheet', type='text/css')
		title
			if titlePath
				each blockName, i in titlePath
					if i > 0
						|  > 
					| #{blockName}
				|  - #{Mikuia.settings.bot.name}
			else
				| #{Mikuia.settings.bot.name}
	body(class=(path == '/' ? 'mikuia' : undefined))
		if extendedHeader
			.mikuia-navbar-background(style=(extendedHeaderBackground ? 'background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(\'' + extendedHeaderBackground + '\'); ' : '') + (extendedHeaderHeight ? 'height: ' + extendedHeaderHeight + 'px; ' : '') + (extendedHeaderColor ? 'background-color: ' + extendedHeaderColor + '; ' : ''))
		nav.navbar.mikuia-navbar(class=(extendedHeader ? 'mikuia-navbar-extended' : undefined))
			.container
				.mikuia-navbar-content
					a(href='/')
						img.mikuia-navbar-icon(src='/img/icon.png', width='50', height='50')
					.mikuia-navbar-lines-left
						.mikuia-navbar-links
							a(href='/', class=(path == '/' ? 'active' : undefined), name='home') Home
							a(href='/streams', class=(path == '/streams' ? 'active' : undefined), name='streams') Streams
							a(href='/levels', class=(path.indexOf('/levels') == 0 ? 'active' : undefined), name='levels') Levels
							a(href='#', class=(path.indexOf('/guide') == 0 ? 'active' : undefined), name='guides') Guides
							a(href='/supporter', class=(path == '/supporter' ? 'active' : undefined), name='supporter') Supporter
							a(href='/leagues', class=(path.indexOf('/leagues') == 0 ? 'active' : undefined), name='leagues') Leagues
							a(href='https://p.datadoghq.com/sb/AF-ona-ccd2288b29', name='status') Status
							a(href='https://patreon.com/hatsuney', name='patreon') Patreon
							a(href='http://discord.mikuia.tv', name='discord') Discord
							a.mikuia-search(href='#') Search
						.mikuia-navbar-title
							span
								if titlePath
									each blockName, i in titlePath
										if i > 0
											i.fa.fa-angle-right
										span=blockName
								else
									span Mikuia.tv
						.mikuia-navbar-title-links
							span(name='home')
								a(href='/') Homepage
							span(name='streams')
								a(href='/streams') Browse Streams
							span(name='levels')
								a(href='/levels') Browse Levels
								if user
									a(href='/user/' + user.username + '/levels') My Levels
									a(href='/levels/' + user.username) #{user.displayName} Levels
							span(name='guides')
								a(href='/guides/quickstart') Quick Start
								a(href='/guides/csgo') CS:GO Rank
								a(href='/guides/levels') Mikuia Levels
								a(href='/guides/osu') osu! Requests
							span(name='leagues')
								a(href='/leagues') Leaderboards
							span(name='supporter')
								a(href='/supporter') Buy Supporter
							span(name='status')
								a(href='https://p.datadoghq.com/sb/AF-ona-ccd2288b29') Check Status
							//- span(name='contribute')
							//- 	a(href='/contribute') Contribute
							span(name='patreon')
								a(href='https://patreon.com/hatsuney') Patreon
							span(name='discord')
								a(href='http://discord.mikuia.tv') Discord
						.mikuia-navbar-search
							form#search-bar(role='search', style='display: none;')
								.form-group
									input.form-control#search-field(type='text', autocomplete='off', data-provide="typeahead", placeholder='Search')

					if user
						.mikuia-navbar-lines-right
							.mikuia-navbar-links
								a(href='/user/' + user.username) Profile
								a(href='/settings') Settings
								a(href='/dashboard') Dashboard
								a(href='/logout') Logout
							.mikuia-navbar-title
								span
									a(href='/user/' + user.username)=user.displayName
						a(href='/user/' + user.username)
							img.mikuia-navbar-avatar(src='/img/avatars/' + user.username + '.jpg', width='80', height='80')
					else
						.mikuia-navbar-lines-right
							.mikuia-navbar-links.mikuia-navbar-login-link
								a(href='/auth/twitch')
									|  Login with 
									i.fa.fa-twitch
		br
		block content
		
		.mikuia-footer
			.container
				.row
					.col-md-3
						small.text-muted
							| Hatsuney made this.
					.col-md-3.align-right
					.col-md-3.align-right
						small.text-muted
							b Art by 
							a(href='http://howlingneko.deviantart.com') HowlingNeko 
							|  <3
					.col-md-3.align-right
						small.text-muted
							a(href='/about') About Mikuia
							br
							a(href='http://discord.mikuia.tv') Discord
							br
							a(href='http://reddit.com/r/cats') Cats
		br
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js')
		script(type='text/javascript', src='/js/bootstrap3-typeahead.min.js')
		script(type='text/javascript', src='/js/bootstrap.min.js')
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/js/mikuia.js')
		script(async src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
		script(type='text/javascript').
			$('[rel=tooltip]').tooltip({
				container: 'body',
				html: true
			})
			$('.timeago').timeago()

			$('.mikuia-search').click(function() {
				$('.mikuia-navbar-lines-left > .mikuia-navbar-title').toggle()
				$('.mikuia-navbar-lines-left > .mikuia-navbar-title-links').toggle()
				$('#search').toggleClass('active')
				$('#search-bar').toggle()
				$('#search-field').focus()
			})

			Mikuia.usernameCompletion($('#search-field'), true)

		block footerScript
		script.
			var _prum = [['id', '548875e2abe53d37782bdebd'],
			             ['mark', 'firstbyte', (new Date()).getTime()]];
			(function() {
			    var s = document.getElementsByTagName('script')[0]
			      , p = document.createElement('script');
			    p.async = 'async';
			    p.src = '//rum-static.pingdom.net/prum.min.js';
			    s.parentNode.insertBefore(p, s);
			})();
