extends layout

block settings
	- var extendedHeader = true

block content
	.container
		.mikuia-page-padding
			.row.animation-fade-in-down
				.col-md-8
					h1.mikuia-page-header-text.text-white Leaderboards
				.col-md-4
					if user
						h1.mikuia-page-header-text.text-white Your Stats
					else
						h1.mikuia-page-header-text.text-white Info
			
			.row.animation-fade-in-up
				.col-md-8.mikuia-page-card
					each data, i in channels
						if data.length > 0
							- var channel = data[0]
							- var rating = data[1]

							.mikuia-card
								.mikuia-card-block(style='flex-basis: 70px;')
									h6.text-muted Rank
									h3 ##{i + 1}
								.mikuia-card-block(style='flex-basis: 200px;')
									.mikuia-card-user
										.mikuia-card-user-avatar
											a(href='/user/' + channel)
												img(src=logos[channel], width='32', height='32')
										.mikuia-card-user-name
											h4
												a(href='/user/' + channel, style=(isStreamer[channel] ? undefined : 'color: #999;'))=displayNames[channel]
									
								.mikuia-card-block.align-right(style='flex-basis: 150px;')
									h6.text-muted Rating
									h3 #{Mikuia.Format.parse('{{commas(value)}}', { value: rating })}
								
								.mikuia-card-block.align-right(style='flex-basis: 75px;')
									h6.text-muted Fights
									h3 #{Mikuia.Format.parse('{{commas(value)}}', { value: fights[channel] })}
								
								.mikuia-card-block.align-right(style='flex-basis: 150px;')
									h6.text-muted League
									h4
										img(src='/img/leagues/' + Mikuia.Leagues.getLeague(rating) + '.png', width='24')
										|  #{Mikuia.Leagues.getLeagueFullText(rating)}
				.col-md-4
					if user
						.mikuia-page-card.mikuia-page-card-margin-2x
							.mikuia-card
								.mikuia-card-block
									h6.text-muted Rank
									if userInfo.fightCount > 0
										h3 ##{Mikuia.Format.parse('{{commas(value)}}', { value: userInfo.rank + 1 })}
									else
										h3 # -no
									
								.mikuia-card-block
									h6.text-muted Rating
									h3 #{Mikuia.Format.parse('{{commas(value)}}', { value: userInfo.rating })}

								.mikuia-card-block
									h6.text-success Won
									h3 #{Mikuia.Format.parse('{{commas(value)}}', { value: userInfo.fightsWon })}
								
								.mikuia-card-block
									h6.text-danger Lost
									h3 #{Mikuia.Format.parse('{{commas(value)}}', { value: userInfo.fightsLost })}
							
							br
							.mikuia-page-category-heading Your League
							h3
								if userInfo.fightCount < 10
									img(src='/img/leagues/0.png', width='32')
									|  Unranked
								else
									img(src='/img/leagues/#{Mikuia.Leagues.getLeague(userInfo.rating)}.png', width='32')
									|  #{Mikuia.Leagues.getLeagueText(userInfo.rating)} #{Mikuia.Leagues.getLeagueDivisionText(userInfo.rating)}
			
					if user
						h1.mikuia-page-header-text Info

					.mikuia-page-card.mikuia-page-card-margin
						.mikuia-page-category-heading What is this?
						p.
							League rankings for 1v1 fights!

					.mikuia-page-card.mikuia-page-card-margin
						.mikuia-page-category-heading Why does it exist?
						p.
							I was bored!

					.mikuia-page-card.mikuia-page-card-margin
						.mikuia-page-category-heading How about you add something useful?
						p.
							No.
