extends layout

block settings
	- var extendedHeader = true
	- var extendedHeaderBackground = (profileBanner && profileBanner != 'null' ? profileBanner : undefined)

block content
	.container
		.mikuia-page-padding
			.row.animation-fade-in-down
				.col-md-8
					h1.mikuia-page-header-text.text-white #{displayName} Level's Top 100
				.col-md-4
					if user && experience
						h1.mikuia-page-header-text.text-white Your Stats
					else
						h1.mikuia-page-header-text.text-white Tips
			
			.row.animation-fade-in-up
				.col-md-8.mikuia-page-card
				
					- var i = 1
					each data in channels
						if data.length > 0

							- var channel = data[0]
							- var exp = data[1]

							- var rankingClass = false
							
							if i <= 3
								- rankingClass = true
							
							.mikuia-card(class=(rankingClass ? 'mikuia-card-ranking' : undefined))
								.mikuia-card-block.mikuia-card-ranking-block(style='flex-basis: 70px;')
									h6.text-muted Rank
									h3 ##{i}
								
								.mikuia-card-block(style='flex-basis: 300px;')
									.mikuia-card-user
										.mikuia-card-user-avatar
											a(href='/user/' + channel)
												img(src=logos[channel], width='32', height='32')
										.mikuia-card-user-name
											h4
												a(href='/user/' + channel, style=(isStreamer[channel] ? undefined : 'color: #999;'))=displayNames[channel]
											
								.mikuia-card-block.align-right(style='flex-basis: 150px;')
									h6.text-muted Experience
									h3 #{Mikuia.Tools.commas(exp)}
								
								.mikuia-card-block.align-right(style='flex-basis: 50px;')
									h6.text-muted Level
									h3
										+level(Mikuia.Tools.getLevel(exp), true, true)
								
								.mikuia-card-block.align-right(style='flex-basis: 70px;')
									h6.text-muted Progress
									h3 #{Mikuia.Tools.getLevelProgress(exp)}%
									
							- i++
					
					if !channels.length
						h5.text-muted
							| Nobody has any #{displayName} Levels yet!
							br
							| Either they don't broadcast on Twitch, or they don't use Mikuia!

				.col-md-4
					if user && experience
						.mikuia-page-card.mikuia-page-card-margin-2x
							.mikuia-card
								.mikuia-card-block
									h6.text-muted Rank
									h3 ##{Mikuia.Tools.commas(rank)}
									
								.mikuia-card-block
									h6.text-muted Experience
									h3 #{Mikuia.Tools.commas(experience)}

								.mikuia-card-block
									h6.text-muted Level
									h3
										+level(Mikuia.Tools.getLevel(experience), true, true)
								
								.mikuia-card-block
									h6.text-muted Progress
									h3 #{Mikuia.Tools.getLevelProgress(experience)}%
					
					if !user || !experience
						.mikuia-page-card.mikuia-page-card-margin
							.mikuia-page-category-heading No avatar or broken name capitalization?
							p Login to update them!
					else
						h1.mikuia-page-header-text Tips

					.mikuia-page-card.mikuia-page-card-special.mikuia-page-card-margin
						a(href='https://patreon.com/hatsuney')
							h3.mikuia-page-category-heading Become a patron!
							p.
								Help funding the future of Mikuia!
								#[br]
								Click here to learn more.

					.mikuia-page-card.mikuia-page-card-margin
						.mikuia-page-category-heading Bots taking your places?
						p
							| You can report bots and get them blocked from gaining experience.
							br
							a(href='http://discord.mikuia.tv') Join Discord and tell us about it.

					.mikuia-page-card.mikuia-page-card-margin
						.mikuia-page-category-heading Changed accounts?
						p
							| You can get all your levels moved to the new account.
							br
							a(href='/settings') Check your settings page.

					.mikuia-page-card.mikuia-page-card-margin
						.mikuia-page-category-heading How does it work?
						p.
							Levels are a simple representation of your activity on the channel. The rules are the same for every channel.
							
						b Description
						ul
							li Sending a message sets your activity meter to #[b.text-success 10].
							li Every minute, your activity meter is reduced by #[b.text-success 1].
							li Every minute, you get #[b.text-danger 4 or 5 XP] if your activity meter is at least at #[b.text-success 1].
							li In case you're active on #[b.text-info 2 channels], you get #[b.text-danger 2 XP] per channel.
							li In case you're active on #[b.text-info 3 channels], you get #[b.text-danger 1 XP] per channel.
							li If you're active on more than #[b.text-info 3 channels] at the same time, you don't get any points.
