extends layout

block content
	.container
		.row
			.col-md-8.animation-fade-in-up
			
				h1.mikuia-page-header-text Live Channels 
				each stream in streams
					- var exp = experience[stream]
					- var level = Mikuia.Tools.getLevel(exp)
					.mikuia-card
						.mikuia-card-block(style='flex-basis: 300px;')
							.mikuia-card-user
								.mikuia-card-user-avatar
									a(href='/levels/' + stream)
										img(src='/img/avatars/' + stream + '.jpg', width='32', height='32')
								.mikuia-card-user-name
									h4
										a(href='/levels/' + stream) #{displayNames[stream]} Level
						.mikuia-card-block.align-right(style='flex-basis: 125px;')
							h6.text-muted Users
							h3=Mikuia.Format.parse('{{commas(value)}}', { value: userCount[stream] })
							
						.mikuia-card-block.align-right(style='flex-basis: 125px;')
							h6.text-muted Your Rank
							h3
								if user
									a(href='/levels/' + stream) ##{Mikuia.Format.parse('{{commas(value)}}', { value: ranks[stream] })}
								else
									.text-muted -
						
						.mikuia-card-block.align-right(style='flex-basis: 125px;')
							h6.text-muted Your Level
							h3
								if user
									+level(level, true, true)
								else
									.text-muted -
			
						.mikuia-card-block.align-right(style='flex-basis: 125px;')
							h6.text-muted Progress
							h3
								if user
									| #{Mikuia.Tools.getLevelProgress(exp)}%
								else
									.text-muted -
									
			.col-md-4.animation-fade-in-up
				if user
					h1.mikuia-page-header-text Your Stats
					.mikuia-card
						.mikuia-card-block
							h6.text-muted Global Rank
							h3
								##{Mikuia.Format.parse('{{commas(value)}}', { value: totalRank })}
						.mikuia-card-block.align-right
							h6.text-muted Total Experience
							h3=Mikuia.Format.parse('{{commas(value)}}', { value: totalExperience })
						.mikuia-card-block.align-right
							h6.text-muted Global Level
							h3
								+level(level, true, true)
					
					a.pull-right(href='/user/' + user.username + '/levels') See more >>
