extends layout

block settings
	- var extendedHeader = true
	- var extendedHeaderBackground = (Channel.profileBanner && Channel.profileBanner != 'null' ? Channel.profileBanner : undefined)

block content
	.container
		.mikuia-page-padding
			.row.animation-fade-in-down
				.col-md-12
					h1.mikuia-page-header-text.text-white #{Channel.display_name}'s Levels
					
			.row.animation-fade-in-up
				.col-md-8.mikuia-page-card
					each data in Channel.experience
						- var experience = data[1]
						- var level = Mikuia.Tools.getLevel(experience)
						
						.mikuia-card
							.mikuia-card-block(style='flex-basis: 300px;')
								.mikuia-card-user
									.mikuia-card-user-avatar
										a(href='/levels/' + data[0])
											img(src='/img/avatars/' + data[0] + '.jpg', width='32', height='32')
									.mikuia-card-user-name
										h4
											a(href='/levels/' + data[0]) #{displayNames[data[0]]} Level
							
							.mikuia-card-block.align-right(style='flex-basis: 150px;')
								h6.text-muted Experience
								h3 #{Mikuia.Format.parse('{{commas(value)}}', { value: experience })}
							
							.mikuia-card-block.align-right(style='flex-basis: 70px;')
								h6.text-muted Rank
								h3 
									a(href='/levels/' + data[0]) ##{Mikuia.Format.parse('{{commas(value)}}', { value: ranks[data[0]] })}
							
							.mikuia-card-block.align-right(style='flex-basis: 50px;')
								h6.text-muted Level
								h3
									+level(level, true, true)
									
							.mikuia-card-block.align-right(style='flex-basis: 70px;')
								h6.text-muted Progress
								h3 #{Mikuia.Tools.getLevelProgress(experience)}%

				if !user
					.col-md-4
						.mikuia-page-card
							.mikuia-page-category-heading Is that you?
							p Login to track your stats easier!
