extends layout

block settings
	- var extendedHeader = true
	- var extendedHeaderBackground = (Channel.profileBanner && Channel.profileBanner != 'null' ? Channel.profileBanner : undefined)

block content
	.container
		.mikuia-page-padding-extended.animation-fade-in-up
			.row
				.col-md-12
					img.mikuia-profile-avatar(src=Channel.logo, width='128', height='128')
					.mikuia-profile-bar
						.mikuia-profile-bar-left
							.mikuia-profile-bar-badges
								each badge, badgeId in Channel.badges
									a(href='/badge/' + badgeId)
										.mikuia-badge
											img.mikuia-badge-image(src='/img/badges/' + badgeId + '.png', width='32', height='32', rel='tooltip', title=('<b>' + badge.displayName + '</b><br />' + badge.description + '<br />' + Mikuia.Tools.colorRarity(badge.rarity)))

							.mikuia-profile-bar-level
								+level(Channel.level, false, true)
							h3.mikuia-profile-bar-name=Channel.display_name
							h5.mikuia-profile-bar-text User
								
						.mikuia-profile-bar-right
							a(href='http://twitch.tv/' + Channel.name, target='_blank')
								.mikuia-profile-bar-icon(rel='tooltip', title='Twitch')
									i.fa.fa-twitch.fa-2x
							a(href='/user/' + Channel.name + '/inventory')
								.mikuia-profile-bar-icon(rel='tooltip', title='Inventory')
									i.fa.fa-briefcase.fa-2x
							a(href='/levels/' + Channel.name)
								.mikuia-profile-bar-icon(rel='tooltip', title=Channel.display_name + ' Levels')
									i.fa.fa-star-o.fa-2x

			if Channel.isLive
				.row
					.col-md-12
						.mikuia-profile-live
							.mikuia-profile-live-content
								.mikuia-profile-live-thumbnail
									a(href='http://twitch.tv/' + Channel.name, target='_blank')
										img(src=Channel.stream.preview, width='147', height='90')
								.mikuia-profile-live-text
									h3
										| Live Now 
										small playing #{Channel.stream.game}
									.mikuia-profile-live-title=Channel.stream.status
									a(href='#') Watch on Twitch.tv
					
			.mikuia-page-card.no-border-radius
				.row
					.col-xs-4
						.mikuia-page-category-heading Bio
						if Channel.bio != 'null' && Channel.bio != null && !Channel.isBot && !Channel.isBanned
							p=Channel.bio
						else
							p
								i.text-muted No bio.
					
						br
						.mikuia-page-category-heading User Levels

						if Channel.experience.length > 0
							.mikuia-level-badge-container
								each data, i in Channel.experience
									if i < 5	
										.mikuia-level-badge
											img.mikuia-level-badge-image(src=(logos ? logos[data[0]] : '/img/avatars/' + data[0] + '.jpg'), width='50', height='50', rel='tooltip', title=displayNames[data[0]] + ' Level ' + Mikuia.Tools.getLevel(data[1]) + '<br />' + data[1] + ' XP')
											.mikuia-level-badge-level
												+level(Mikuia.Tools.getLevel(data[1]), true, true)
						br
						br
						br
						br
						a(href='/user/' + Channel.name + '/levels') See more >>
					.col-xs-8
						.mikuia-page-category-heading Commands
						
						if Channel.commands.length > 0
							each command in Channel.commands
								- console.log(command)
								.mikuia-card.mikuia-card-align-left.mikuia-profile-command
									.mikuia-card-block.mikuia-card-block-margin
										img(src='/img/plugins/' + command.plugin + '.png', width='24', height='24', rel='tooltip', title=command.pluginName)
									.mikuia-card-block
										h4
											| #{command.name}
											if command.settings
												if command.settings._minLevel && parseInt(command.settings._minLevel) > 0
													span.text-danger(rel='tooltip', title='<b>Level ' + command.settings._minLevel + '</b><br />This command requires #{Channel.display_name} Level #{command.settings._minLevel}.')
														i.fa.fa-star
														small.text-danger  #{command.settings._minLevel}
											
												if command.settings._cooldown && parseInt(command.settings._cooldown) > 2
													span.text-danger(rel='tooltip', title='<b>' + command.settings._cooldown + 's Cooldown</b><br />This command is usable every #{command.settings._cooldown} second(s).')
														i.fa.fa-refresh
														small.text-danger  #{command.settings._cooldown}s
														
												if command.settings._coinCost && parseInt(command.settings._coinCost) > 0
													if parseInt(command.settings._coinCost) > 1
														span.text-warning(rel='tooltip', title='<b>#{command.settings._coinCost} #{command.coin.coinNamePlural}</b><br />This command costs #{command.settings._coinCost} #{command.coin.coinNamePlural}.')
															i.fa.fa-money
															small.text-warning  #{command.settings._coinCost}
													else
														span.text-warning(rel='tooltip',  title='<b>#{command.settings._coinCost} #{command.coin.coinName}</b><br />This command costs #{command.settings._coinCost} #{command.coin.coinName}.')
															i.fa.fa-money
															small.text-warning  #{command.settings._coinCost}
											
												if command.settings._onlyMods
													i.text-success.fa.fa-user-plus(rel='tooltip', title='<b>Only Mods</b><br />This command is usable only by moderators.')
											
												if command.settings._onlySubs
													i.text-info.fa.fa-twitch(rel='tooltip', title='<b>Only Subs</b><br />This command is usable only by subscribers.')
											
												if command.settings._onlyBroadcaster
													i.text-primary.fa.fa-video-camera(rel='tooltip', title='<b>Only Broadcaster</b><br />This command is usable only by the streamer.')
											
												if command.settings._whisper
													i.text-info.fa.fa-comment(rel='tooltip', title='<b>Whisper Response</b><br />The reponse to this command will be whispered.')
										
										if command.codeText
											if command.settings._onlySubs || command.settings._coinCost || command.settings._minLevel
												code(rel='tooltip', title='This command has special conditions, you need to use it on chat.') (hidden)
											else
												code=command.description
										else
											span=command.description
